GuestBook/Service References/ServiceReference/GuestService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GuestBook.Types" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GuestBook.Types" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfGuestRecord">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GuestRecord" nillable="true" type="tns:GuestRecord" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGuestRecord" nillable="true" type="tns:ArrayOfGuestRecord" />
  <xs:complexType name="GuestRecord">
    <xs:sequence>
      <xs:element name="UserName" nillable="true" type="xs:string" />
      <xs:element name="UserMail" nillable="true" type="xs:string" />
      <xs:element name="Messages" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Homepage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IpAddres" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BrowserInfo" nillable="true" type="tns:BrowserInfo" />
      <xs:element name="PostedDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GuestRecord" nillable="true" type="tns:GuestRecord" />
  <xs:complexType name="BrowserInfo">
    <xs:sequence>
      <xs:element name="UserAgent" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BrowserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BrowserVersion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BrowserInfo" nillable="true" type="tns:BrowserInfo" />
</xs:schema>