GuestBook/Service References/ServiceReference/GuestService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:7970/GuestService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GuestBook.Types" />
  <xs:element name="GetRecordsInfo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecordsInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetRecordsInfoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRecords">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRecordsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GuestBook.Types" minOccurs="0" name="GetAllRecordsResult" nillable="true" type="q1:ArrayOfGuestRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GuestBook.Types" minOccurs="0" name="record" nillable="true" type="q2:GuestRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRecordResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>